# The Galaxy Programming Language
# Author: Nicholas E. Manley
# License: ISC

# Netbeans
nbproject/

# Eclipse
.cproject
.project

# Autofools
autom4te.cache/
autoconf/aclocal.m4
configure.out

# Makefiles
config.log
config.status
Makefile.common
Makefile.llvm.config

# Build Directories
Debug/
Debug+Asserts/
Profile/
Profile+Asserts/
Release/
Release+Asserts/
